:root {
    --primary-color: wheat;
    --border: black;
    --h1-color: black;
    --button-color: rgb(250,128,114);
}


body {
    box-sizing: border-box;
    width: 1366px;
    height: 768px;
    font-family: Arial, sans-serif;

}

.container {
    width: 900px;
    height: 768px;
    border: 1px solid var(--border);
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 70px;
    border-radius: 70px;
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
    color: var(--h1-color);
    font-size: 50px;
    margin-top: 40px;
}

.form-group {
    width: 700px;
    height: 90px;
    padding: 20px 0;
    margin: 0 40px;
}

.form-group input {
    width: 700px;
    height: 85px;
    font-size: 27px;
    padding: 10px 25px;
    border-radius: 20px;
}

.accept {
    padding: 30px 0;
    margin: 30px 70px;
    font-size: 25px;
}

.accept input[type="checkbox"] {
    display: inline-block;
    transform: scale(3.0);
    margin-right: 25px;
}

.sign-in {
    width:300px;
    height: 60px;
    float:right;
    margin-right: 50px;
    font-size: 27px;
    border-radius: 7px;
    background-color: var(--button-color);
    color: #128EA6;
    border: none;
    box-shadow: 0 0 2px 2px var(--button-color);
}

.sign-in:hover {
    background-color: limegreen;
    transition: 0.7s;
    box-shadow: 0 0 4px 4px rgb(0,0,0);
    color: black;
}